<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laboratorio2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SOTRApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Laboratorio2">
        <activity
            android:name=".cliente.MisAsistenciasActivity"
            android:exported="false" />
        <activity
            android:name=".admin.EliminarAlumnoActivity"
            android:exported="false" />
        <activity
            android:name=".admin.RegistrarAlumnoActivity"
            android:exported="false" />
        <activity
            android:name=".admin.VerFiebreActivity"
            android:exported="false" />
        <activity
            android:name=".admin.MenuVentilacionActivity"
            android:exported="false" />
        <activity android:name=".OlvidoActivity" />
        <activity android:name=".cliente.MenuClienteActivity" />
        <activity android:name=".admin.MenuAdminActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>